<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <h1>Lists:</h1>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <p class="btn"><i class="fas fa-plus"></i> <%= link_to "Create new list", new_list_path() %></p>
      </li>
    </ul>
  </div>
</div>


<%= cl_image_tag("gzn4ipdocp9fgi0gjeud",
      width: 400, height: 300, crop: :fill) %>

<div class='m-5'>
<h3>Collection of Lists:</h3>

<div>
    <% @lists.each do |list| %>
        <h3  class='list_titles p-3'><%= link_to list.name, list_path(list) %></h3>
    <% end %>
  </div>
</div>
